.background-close-trigger {
  &_active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.form-control {
  box-shadow: var(--color-shadow);

  &__label {
    text-transform: lowercase;
    opacity: 0.5;
    color: var(--color-grey-light)
  }

  &__field {
    position: relative;
    width: 100%;
    margin-top: 4px;
    padding: $point * 1.5;
    border: 1px solid var(--color-grey-lighter);
    background-color: white;
    box-shadow: var(--shadow);
  }
}

.select {
  padding: 0;

  &_active {
    & .select__option-list {
      display: block;
    }

    & .select__icon {
      transform: rotate(180deg);
    }
  }

  &__value {
    display: flex;
    justify-content: space-between;
    padding: $point * 1.5;
    width: 100%;
    height: 100%;
    text-align: left;
  }

  &__placeholder {
      color: var(--color-grey-light)
  }

  &__option-list {
    position: absolute;
    z-index: 10;
    display: none;
    box-shadow: var(--shadow);
    border: var(--color-border);
    top: 100%;
    left: 0;
    width: 100%;
  }
}

.option {
  width: 100%;
  padding: 2 * $point;
  background-color: white;
  text-align: left;

  &:hover {
    background-color: var(--color-grey-lighter);
  }
}