.menu {
  &__node {
    &_opened {
      > .menu__body {
        display: block;
      }
    }
  }

  &__arrow {
    position: absolute;
    font-size: var(--font-size);
    width:  var(--font-size);
    height: var(--font-size);
  }

  &__label {
    padding-left: $point * 2;
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: none;
    font-size: calc(var(--font-size) * 1.5);
    text-align: left;

    &:hover {
      background-color: var(--color-hover-grey);
    }
  }

  &__body {
    display: none;
    box-shadow: var(--shadow);
  }
}
