.right-panel {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__body {
    height: 100%;
    margin-top: 20px;
  }

  &__footer {
    padding: $point * 2;
    box-shadow: var(--shadow-top);
  }
}