.page-body {
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow-left);

  &__control {
    padding: $point * 2;
    width: 100%;
    opacity: 0.5;
  }

  &__view {
    padding: $point * 2;
    box-shadow: var(--shadow-top);
  }

  &__title {
    text-align: center;
    font-size: calc(var(--font-size) * 1.2);
  }
}