:root {
  --color-border: #eaeaea;
  --color-grey-light: #9a9a9a;
  --color-hover-grey: #a7a7a726;
  --color-grey-lighter: #f2f2f2;
  --color-shadow: #bbbbbbad;
  --shadow: 5px 5px 5px -7px var(--color-shadow);
  --shadow-bottom: 0px -3px 5px -5px var(--color-shadow) inset;
  --shadow-top: 0px 3px 5px -5px var(--color-shadow) inset;
  --shadow-left: 3px -5px 5px -5px var(--color-shadow) inset;
  --font-size: 12px;
}
