$columns-count: 12;
$offset: 8px;

.container {
  padding: 0 16px;

  &_offset {
       padding: 16px;
  }
}

.section {
  $offset: $point * 2;
  width: 100%;
  padding: 0 $offset $offset;

  &:not(&_top-clear) {
    padding-top: $offset;
    box-shadow: var(--shadow-top);
  }
}

.row {
    display: flex;
    align-items: center;
    margin: 0 -16px;

  &_wide {
       width: 100%;
   }

  @for $i from 1 through $columns-count {
    &_offset-#{$i} {
        margin-top: $i * $offset;
    }
  }

  &_top {
       align-items: flex-start;
   }

  &_bottom {
       align-items: flex-end;
   }

  &_center {
       justify-content: center;
   }

  &_between {
       justify-content: space-between;
   }

  &_end {
       justify-content: flex-end;
   }

  &_wrap {
       flex-wrap: wrap;
  }
}

.col {
    padding: 0 16px;

  &_top {
       margin-top: 16px;
   }

  &_wide {
       flex: 1;
   }

  @for $i from 1 through $columns-count {
    &_#{$i} {
        width: 100% / $columns-count * $i;
    }
  }
}