.input {
  width: 100%;
  border: 1px solid var(--color-border);
  padding: 8px;

  &:focus {
    outline: none;
  }
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: var(--shadow-bottom);
  padding: 2px;
  opacity: 0.5;
  font-size: calc(var(--font-size) * 1.2);

  &__field {
    width: 100%;
    padding: 16px;
    color: var(--color-grey-light);
    font-size: inherit;
  }

  &__icon {
    margin: 0 10px;
  }
}
