body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

* {
  box-sizing: border-box;
}

input, select {
  padding: 0;
  border: none;

  &:focus {
    outline: none;
  }
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}